# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Databases & local builds
*.db
*.sqlite3

# Large fetched files / temp reports
*.log
*.tmp
*.pbix.backup
